
$soft-blue: hsl(231, 69%, 60%)
$soft-red: hsl(0, 94%, 66%)
$grayish-blue: hsl(229, 8%, 60%)
$very-dark-blue: hsl(229, 31%, 21%)
$font-size: 18px

@mixin flexAlign($direction)
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: $direction
    
@mixin button($backgroundColor)
    border: none
    border-radius: 5px
    padding: .7em 1.5em
    background-color: $backgroundColor
    

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Rubik', sans-serif;
    position: relative

.centerWrapper
    margin: 0 auto
    max-width: 1440px

section
    position: relative

.sections-paragraph
    text-align: center
    padding: 1em 1em
    margin: 0 auto
    max-width: 28em
    h2
        margin-bottom: .7em

@import "./_header"
@import "./_mainSection"
@import "./_featuresSection"
@import "./_cards"
@import "./_accordion"
@import "./_formSection"
@import "./_footer"

@import "./_mobileNav"
@import "./_mediaQueries"
